*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




/* ******************main************************** */

.main {
    padding-top: 2%;
    display: block;

    float: left;
    margin: 0 5% 0 10%;

    


}

.tree {
    display: block;
    justify-content: space-around;
    margin: 0 5% 0 5%;
}

.main .tree a{
    color: black;
    text-decoration: none;
}

.main a .treeTab {
    display: inline;

}

.main .tree img {
    display: inline;


    height: 15.20252990722659px;
    width: auto;
    left: 340.550537109375px;
    top: 172.879638671875px;
    border-radius: 0px;
    align-items: center;

}

.main h1 {
    margin: 5%;



}



.kurslarSection{
justify-content: space-around;



}

.main .kurslar {
    border-radius: 25px;
    background: #F5F5F5;
    display: inline-block;
    height: 316px;
    width: 260px;

    margin: 0 0 3% 3%;



}

#firstTab {

    background: linear-gradient(135deg, #1713DE 0%, #B60AA5 100%);
}

.kurslar div{
    margin: 0 15% 0 15%;


    background-color: rgb(199, 108, 207);

    opacity: 0.2;
    height: 173px;
    width: 177px;
    border-radius: 0 50% 50% 50%;

}

#firstTab div{
    margin: 0 15% 0 15%;


    background: #FFFFFF;

    opacity: 0.2;
    height: 173px;
    width: 177px;
    border-radius: 0 50% 50% 50%;

}

#firsTab h2{
    color: white;
}

.kurslar h2 {
    margin-top: 25px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    color: #908989;
}

