
body{
  width: 100%;
  background: #F8F9FB;
}

.mainPage{
  height: 100vh;
}


/*          **********        Courses Section    ****************     */

.coursesText{
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 5em;
}

.buttonArea{
  display: block;
  width: 100%;
  justify-content: flex-end;
  margin-top: 10%;
}
.buttonArea .button{
  display: flex;
  width: 100%;
  height: 18%;
  font-size: 2em;
  color: #FFFFFF;
  border-radius: 30px;
  justify-content: center;
  background: linear-gradient(135deg, #1370DE 0%, #B60A67 100%);
  align-items: center;
}

/************** Video section**************/
.videoSection{
  height: 100vh;
  background: url('pictures/main3fon.png') 0 0/100% 100% no-repeat;
}
.videoText{
  width:355px;
  height: 44.74px;
  color: #FFFFFF;
  margin: auto;
  padding-top: 2%;
  font-size: 55px;
  text-transform: uppercase;
}

/**************      Teachers Section     **************/
.teachersCircles a div{
  margin: 2%;

  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #D9D9D9;
}


.teachersText{
  color: black;
  text-transform: none;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 5em;
}



      /*footer*/
.footer_logotip{
  position: absolute;
  left: 5%;
  right: 70%;
  top: 102%;
  bottom: 20%;
}
.footer_text_1{
  height: 200px;
  position: absolute;
  left: 53.06%;
  right: 22.12%;
  font-size: 20px;
}

@media screen and (max-width:800px){
  .coursesText, .teachersText{
    font-size: 3em;
  }
}
@media screen and (max-width:500px){
  .teachersText {
    font-size: 2em;
  }
  .buttonArea .button{
    font-size: 1.2em;
  }
}

@media screen and (max-width:360px){
  .coursesText{
    font-size: 2em;
  }
  .teachersText{
    font-size: 1.5em;
  }
}

@media screen and (max-width: 300px){
  .buttonArea .button{
    font-size: 1em;

  }

}
