
body{
  background: #F8F9FB;
}
/************************* main *****************************/
.main{
    width: 100%;
    height: 100vh;
}
header{
    margin:2% 5% 0 5%;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
}
.header_text{
    width: 50%;
}
.header_text ul{
    display: flex;
    list-style: none;
    justify-content:space-around;
    align-items: center;
}
.header_text ul a{
    text-decoration: none;
    font-size: 25px;
    color: #767672;
}
#line{   
    padding-left: 20px;
    border-left: 1px #767672 solid;
}
#button{
    display: block;
    width: 200px;
    height: 60px;
    background: linear-gradient(135deg, #FF3415 0%, #0C357E 67.19%);
    border-radius: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

/********** slideer ***********/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {
    display: none;
    width: 100%;
    height: 100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  height: 70%;
  position: relative;
  margin: auto;
}
.main_block{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}
.main_block .text{
    width: 50%;
}

.main_block .image{
    width: 50%;
}
.text{
  width: 100%;
  margin-top: 3%;
}
.text .text_first{
  color: #27292D;
  font-size: 90px;
}
.text .text_second{ 
  font-size: 70px;
  line-height: 1.3;
}
.image img{
    width: 100%;
    height: 100%;
}
@media(max-width:2200px){
  .text .text_first{
    font-size: 75px;
  }
  .text .text_second{
    font-size: 55px;
  }
  .dot{
    width: 30px;
  }
  .dot2{
    width: 15px;
  }
  .dot1{
    width: 25px;
  }
  .header_text ul a{
    font-size: 20px;
  }
  #button{
    width: 150px;
    height: 40px;
  }
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  width: 63px;
  height: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 10px;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: absolute;
  left:50% ;
background: linear-gradient(135deg, #0677E0 0%, #B60A14 100%);
}

.dot1{
  cursor: pointer;
  position: absolute;
  left: 55%;
  width: 50px;
  height: 12px;
  border-radius: 10px;
  background: #73BCD3;
  opacity: 0.5;
}

.dot2{
  cursor: pointer;
  position: absolute;
  left: 53%;
  width: 35px;
  height: 12px;
  border-radius: 10px;
  background: #71A0AA;
  opacity: 0.2;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.main2text{
  margin: 50px 50px 125px 0px;
  margin-bottom: 50px;
  margin-left: 125px;
  font-weight: 700;
  font-size: 60px;
}
.curses{
  width: 1662px;
  display: flex;
  margin:auto;
}
.kurslar{
  width: 257px;
  height: 316px;
  background: #F5F5F5;
  margin: 10px;
  border-radius:20px ;
 
   
}

.kurslar div{
  margin: 0 15% 0 15%;


  background: #FFFFFF;

  opacity: 0.2;
  height: 173px;
  width: 177px;
  border-radius: 0 50% 50% 50%;
}

.kurslar:hover{
  background: linear-gradient(135deg, #1713DE 0%, #B60AA5 100%);
}


.kursstrelka{
  margin: 49% auto 0 40%;
}
.main2fon{
  position: absolute;
  left: 50%;

}
.button{
  display: flex;
  margin-right: 7%;
  justify-content: flex-end;
  margin-top: 25px;
}
.button_cursoss{
  margin: 40px 0px;
  width: 270px;
  height: 50px;
  font-size: 30px;
  color: #FFFFFF;
  border-radius: 30px;
  text-align: center;
  background: linear-gradient(135deg, #1370DE 0%, #B60A67 100%);
  padding-top: 13px;
}
/**************main3**************/
.main3{
  width:100%;
  height: 1500px;
  background: url('pictures/main3fon.png') 0 0/100% 100% no-repeat;
}
.main3text{
  width:355px;
  height: 44.74px;
  color: #FFFFFF;
  margin: auto;
  padding-top: 6%;
  font-size: 55px;
  text-transform: uppercase;
}

/**************main4**************/
.main4{
  margin: 200px 0px;
}
.main4text{
  width: 531px;
  height: 38px;
  text-transform: uppercase;
  color: #302E22;
  font-size: 55px;
  margin:auto;
}
.teachers{
  padding-top: 50px;
  width: 1557px;
  display: flex;
  margin: auto;
}
.teacher{
  width: 419px;
  height: 419px;
  background: #D9D9D9 ;
  margin: 50px;
  border-radius: 50%;
}
.buttonteacher{
  margin: 40px 0px;
  width: 270px;
  height: 50px;
  font-size: 30px;
  color: #FFFFFF;
  border-radius: 30px;
  text-align: center;
  background: linear-gradient(135deg, #1370DE 0%, #B60A67 100%);
  padding-top: 13px;
}
      /*footer*/
.footer_logotip{
  position: absolute;
  left: 5%;
  right: 70%;
  top: 102%;
  bottom: 20%;
}
.footer_text_1{
  height: 200px;
  position: absolute;
  left: 53.06%;
  right: 22.12%;
  font-size: 20px;
}

