
body{
  width: 100%;
  background: #F8F9FB;
}
/************************* main *****************************/




/********** slideer ***********/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {
  display: none;
  width: 100%;
  height: 100%;
}

/* Slideshow container */
.slideshow-container {
max-width: 100%;
height: 70%;
position: relative;
margin: auto;
}
.main_block{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
}
.main_block .text{
  width: 50%;
}
.main_block .image{
  width: 50%;
}
.image img{
  width: 100%;
  height: 100%;
} 
/* The dots/bullets/indicators */
.dot {
cursor: pointer;
width: 63px;
height: 12px;
margin: 0 -5px;
background-color: #bbb;
border-radius: 10px;
display: inline-block;
transition: background-color 0.6s ease;
position: absolute;
left:45% ;
background: linear-gradient(135deg, #0677E0 0%, #B60A14 100%);
}

.dot1{
cursor: pointer;
position: absolute;
left: 50%;
width: 50px;
height: 12px;
border-radius: 10px;
background: #73BCD3;
opacity: 0.5;
}

.dot2{
cursor: pointer;
position: absolute;
left: 55%;
width: 35px;
height: 12px;
border-radius: 10px;
background: #71A0AA;
opacity: 0.2;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}
/*main2*/
.main2{
  width: 100%;
  height: 100%;
}
.main2text{
  margin: 50px 50px 125px 0px;
  margin-bottom: 50px;
  margin-left: 125px;
  font-weight: 700;
  font-size: 60px;
}
.curses{
  width: 100%;
  display: flex;
  margin:auto;
}
.curses a{
  width: 15%;
  margin: 1.3333%;
  height: 40%;
} 
.kurslar{
  display: block;
  width: 100%;
  height: 100%;
  background: #F5F5F5;
  margin: 1.3333%;
  border-radius:20px ;
 
   
}

.kurslar div{
  margin: 0 15% 0 15%;


  background: #FFFFFF;

  opacity: 0.2;
  height: 173px;
  width: 177px;
  border-radius: 0 50% 50% 50%;
}

.kurslar:hover{
  background: linear-gradient(135deg, #1713DE 0%, #B60AA5 100%);
}


.kursstrelka{
  margin: 49% auto 0 40%;
}
.main2fon{
  position: absolute;
  left: 50%;

}
.button{
  display: flex;
  margin-right: 7%;
  justify-content: flex-end;
  margin-top: 25px;
}
.button_cursoss{
  display: flex;
  margin: 40px 0px;
  width: 270px;
  height: 50px;
  font-size: 30px;
  color: #FFFFFF;
  border-radius: 30px;
  justify-content: center;
  background: linear-gradient(135deg, #1370DE 0%, #B60A67 100%);
  align-items: center;
}
/**************main3**************/
.main3{
  width:100%;
  height: 100vh;
  background: url('pictures/main3fon.png') 0 0/100% 100% no-repeat;
}
.main3text{
  width:355px;
  height: 44.74px;
  color: #FFFFFF;
  margin: auto;
  padding-top: 2%;
  font-size: 55px;
  text-transform: uppercase;
}

/**************main4**************/
.main4{
  margin: 10% 0%;
  width: 100%;
}
.main4text{
  width: 531px;
  height: 38px;
  text-transform: uppercase;
  color: #302E22;
  font-size: 55px;
  margin:auto;
}
.teachers{
  padding-top: 5%;
  width: 100%;
  display: flex;
  margin: auto;
}
.column{
  width: 25%;
  height: 20%;
  margin: 3.3%;
}
.teacher{
  width: 100%;
  height: 350px;
  background: #D9D9D9 ;
  border-radius: 50%;
  margin: 10%;
}
.buttonteacher{
  display: flex;
  margin: 40px 0px;
  width: 270px;
  height: 50px;
  font-size: 30px;
  color: #FFFFFF;
  border-radius: 30px;
  justify-content: center;
  background: linear-gradient(135deg, #1370DE 0%, #B60A67 100%);
  align-items: center;
}
      /*footer*/
.footer_logotip{
  position: absolute;
  left: 5%;
  right: 70%;
  top: 102%;
  bottom: 20%;
}
.footer_text_1{
  height: 200px;
  position: absolute;
  left: 53.06%;
  right: 22.12%;
  font-size: 20px;
}

