.theContainer .text h1{
    text-align: center;
    text-transform: uppercase;
}
 .teachersCircles div{
    margin: 2%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #D9D9D9;
}
.row{
    margin-top: 5%;
}