*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing:border-box ;box-sizing: border-box ;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
a{
    text-decoration: none;
}

body{
    width: 100%;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    padding: 5%;
    background: #F8F9FB;
}
.main_reg{
    width: 43%;
    height: 100%;
}
.reg_logo{
    width: 350px;
}
.reg_logo img{
    width: 100%;
}
.main_photo{
    width: 43%;
    height: 100%;
}
.main_photo img{
    width: 100%;
    height: 100%;
}
.reg_form{
    margin: 50px;
    width: 80%;
}
.reg_form div {
    margin: 3%;
}
.reg_form input{
    width: 100%;
    height: 80px;
    border-radius: 25px;
    border: 1px #CCCCCC solid;
    font-size: 25px;
}
.first_text{
    font-size: 36px; 
    color: #2F3032;
}
.second_text{
    font-size: 20px;
    color: #404145;
}
.reg_form button{
    width: 100%;
    height: 80px;
    border-radius: 25px;
    background: linear-gradient(180deg, #1389DE 0%, #9E0AB6 100%);
    font-size: 22px;
    text-transform: capitalize;
    color: #ffffff;
}
.password_text{
    text-align: right;
    margin: 0 20px;
    font-size: 20px;
    color: #0A6BB2;
}
.footer_text_first  a{
    display: block;
    color: #2F3032;
    font-family: 'Poppins';
    font-size: 21px;
    text-align: center;
}
.footer_text_second a{
    display: block;
    color: #0D0AB2;
    font-weight: 600;
    font-size: 24px;
    text-align: center;

}
@media (max-width:1800px){
    .reg_form input,.reg_form button{
        height: 60px;
        font-size: 18px;
    } 
}
@media (max-width:1100px){
    .main_photo{
        display: none;
    }
    .main_reg{
        width: 100%;
        height: 100%;
    }
    .reg_logo{
        margin: auto;
    }
    .reg_form{
        margin: auto;
    }
}
@media (max-width:500px){
    .reg_form div{
        margin: 20px 0px;
    }
    .reg_form input,.reg_form button{
        height: 40px;
    }
    .reg_logo{
        width: 225px;
    }
    .first_text{
        font-size: 28px;
    }
    .second_text,.password_text,.footer_text_first  a{
        font-size: 14px;
    }
    .footer_text_second a{
        font-size: 18px;
    }
}