*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

label {
    margin: 2% 0 0 2%;
    opacity: 0.6;
}


.main {
    margin: 3% 10%;

}


.main .textSection{
    width: 50%;
}



div.main .textSection p.justText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #404145;

    opacity: 0.7;
}

.main .photoSection {
    display: inline-block;
    width: 922px;
    height: 922px;
    left: 903px;
    top: 79px;
}

.photoSection img {

}