/* **********************************nav**************** */
nav {
    justify-content: space-around;
    display: flex;
    margin-top: 1%;
    align-items: center;
    min-height: 8vh;

    
}

nav ul{
    margin-top: 10px;
    list-style: none;
    display: flex;
    float: right;
  
    gap: 20px;
}


.navlinks a{

    text-decoration: none;
    color:#767672;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 17px;
}
.navlinks:last-child a{
    margin: 0;
    display:block;
    color:#FFFFFF;
    padding: 10px 10px 10px 10px;
}
.navlinks:last-child{
    position: relative;
    background: linear-gradient(135deg, #FF3415 0%, #0C357E 67.19%);
    border-radius: 25px;
    height: 50px;
    margin: 0% !important;
}

.iceriGir {
    border-left: black 2px solid;
    padding-left: 10px;
}





.burger {
    display: none ;
}
.burger div{
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}





/* ********************mobile************************ */

@media screen and (max-width: 1000px){
    body {
        overflow-x: hidden;
    }

  .navLinks {
    background-color: rgb(226, 189, 228);
    padding-top: 5%;
    gap: 5%;
        margin-top: 70px;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
 
    }
    
    .burger {
        display: block;
    }

}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);

    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);

}
.toggle .line2{
opacity: 0;
    
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
    
}

.toggle .line4{
    opacity: 0;
        
}
